<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <div class="expenses" *ngIf="expensesList">

      <div class="workout" *ngFor="let expense of expensesList">
        <div>{{expense.name}}</div>
        <div>{{expense.date | date}}</div>
        <div>{{expense.type}}</div>
        <div>{{expense.amount | currency}}</div>
        <div class="options">
           <a [routerLink]="['/expenses/edit/', expense._id]">
           <button class="btn btn-warning">
             <i class="fa fa-pencil"></i>
            </button>
            </a>
           <button class="btn btn-danger" (click)="deleteExpense(expense)">
             <i class="fa fa-trash"></i>
            </button>
        </div>
      </div>
    </div>

  </div>
</div>
